<h1>Listing tasks</h1>
<div class="new-pages">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row-fluid">
      <div class="span6">
        <%= link_to 'New Task', new_task_path, class: "btn btn-success" %>
      </div>
    </div>
    <table class="table table-striped sort-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Executable path</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.name, task %></td>
            <td><%= task.executable_path %></td>
            <td><%= task.start_time %></td>
            <td><%= task.end_time %></td>
            <td><%= task.status.try(:upcase) %></td>
            <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
